<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/cookies.js"></script>
    <script src="/javascripts/game_canvas.js"></script>
    <script src="/javascripts/chat.js"></script>
  </head>
  <body>
    <canvas width="500" height="350" id="game"></canvas>
    <div id="chatBox" style="height:150px; width: 80%; border: 1px solid black; overflow: scroll;">
      <table id="messages">
      </table>
    </div>
    <form action="/" id="chatForm">
      <input type="text" name="message" id="messageForm">
      <input type="submit" value="Send">
    </form>
  </body>
</html>