<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/cookies.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
      var socket = io.connect('http://localhost');
      $(document).ready(function(){
        if (readCookie('identity')){
          var identity = readCookie('identity')
        } else {
          var identity = prompt("Enter name:");
          createCookie('identity', identity);
        }
        socket.emit('identify', identity);

        $('#chatForm').on('submit', function(e){
          e.preventDefault();
          socket.emit('message', $(this).find('input#message').val())
          $('#message').val('');
        });
      });

      socket.on('identified', function(){
        console.log('identified');
      });
    </script>
  </head>
  <body>
    <div style="height:300px; width: 80%; border: 1px solid black;" id="chatBox">
      <form action="/" id="chatForm">
        <input type="text" name="message" id="message">
        <input type="submit" value="Send">
      </form>
    </div>
  </body>
</html>