<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/utility.js"></script>
    <script src="/javascripts/map.js"></script>
    <script src="/javascripts/cell.js"></script>
    <script src="/javascripts/shot.js"></script>
    <script src="/javascripts/player.js"></script>
    <script src="/javascripts/enemy.js"></script>
    <script src="/javascripts/game_loop.js"></script>
    <script src="/javascripts/game_init.js"></script>
    <script src="/javascripts/networking.js"></script>
    <script src="/javascripts/chat.js"></script>
  </head>
  <body>
    <div id="chatBox" style="height:150px; width: 80%; border: 1px solid black; overflow: scroll; display:none;">
      <table id="messages">
      </table>
    </div>
    <form action="/" id="chatForm" style="display:none;">
      <input type="text" name="message" id="messageForm">
      <input type="submit" value="Send">
    </form>
  </body>
</html>